:root {
    --Red-400: hsl(7, 99%, 70%);
    --Yellow-500: hsl(51, 100%, 49%);
    --Green-800: hsl(167, 40%, 24%);
    --Blue-800: hsl(198, 62%, 26%);
    --Green-500: hsl(167, 34%, 41%);

    --Grey-950: hsl(212, 27%, 19%);
    --Grey-600: hsl(213, 9%, 39%);
    --Grey-550: hsl(232, 10%, 55%);
    --Grey-400: hsl(210, 4%, 67%);
    --White: hsl(0, 100%, 100%);
}

/* --- reset --- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    color: var(--Grey-550);
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: 'Fraunces', serif;
    color: var(--White);
}

a {
    color: var(--White);
    text-decoration: none;
}

ul {
    list-style: none;
}

/* --- Hero-nav --- */ 

.hero {
    height: 100vh;
    padding: 40px 40px 0 40px;
    display: flex;
    flex-direction: column;
    background: 
    url('../images/desktop/image-header.jpg')
    center center / cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 10px;

    a {
        padding: 12px 20px;
        border-radius: 50px;
        font-size: 16px;

        &:hover {
            background-color: var(--Grey-600)
        }
    }
}

.hero-content {
    margin-bottom: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 10%;

    h1 {
        letter-spacing: 8px;
    }
}

.arrow-down {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    from,
    20%,
    50%,
    80%,
    to {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}
/* --- layout-grid --- */

.features-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.text-block {
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    h2 {
        color: var(--Blue-800);
        max-width: 300px;
    }
}

.image-block {
    height: fit-content;
    img {
        max-width: 100%;
        display: block;
    }
}

.link-learn {
    font-family: 'Fraunces';
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--Blue-800);
    position: relative;
    display: inline-block;
    padding: 0 5px;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 8px;
        border-radius: 4px;
        z-index: -1;
        opacity: .3;
        transition: opacity .2s ease;
    }

    &:hover::after {
        opacity: 1;
    }
}

.learn-yellow::after {
    background-color: var(--Yellow-500);
}

.learn-pink::after {
    background-color: var(--Red-400);
}

/* --- service --- */

.service-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.service-block {
    height: 70vh;
    padding: 100px 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.design {
    background:
    linear-gradient(
        rgb(144, 224, 209, 0.1) 30%,
        rgb(144, 224, 209, 0.95)
    ), 
    url('../images/desktop/image-graphic-design.jpg')
    center center / cover;

    color: var(--Green-800);
}

.photography {
    background: 
    linear-gradient(
        rgb(94, 195, 228, 0.1) 30%,
        rgb(94, 195, 228, 0.95)), 
    url('../images/desktop/image-photography.jpg')
    center center / cover;

    color: var(--Blue-800);
}

.service-content {
    max-width: 350px;

    h3 {
        font-size: 28px;
        margin-bottom: 25px;
        font-weight: 900;
        color: inherit;
    }
    
    p {
        font-size: 1rem;
        line-height: 1.5;
        color: inherit;
        opacity: .85;
    }
}

/* --- testimonial section --- */

.clients-flex {
    padding: 140px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
        font-size: 1.1rem;
        margin-bottom: 50px;
        color: var(--Grey-400);
        letter-spacing: 8px;
    }
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.card {
    flex: 1;
    max-width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8;

    img {
        width: 72px;
        height: 72px;
        margin-bottom: 50px;
        border-radius: 80px;
    }

    p {
        margin-bottom: 50px;
        font-size: 1rem;
        color: var(--Grey-600);
    }

    h3 {
        color: var(--Grey-950);
    }

    span {
        font-size: 1rem;
        opacity: 0.7;
    }
}

